body{
    width:100%;
    margin:0;
}
#nav4{
    width:100%;
    background-color:springgreen;
    padding:10px;
    position: fixed;top:0;
}
#nav4 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align:center;
}
#nav4 a{
    text-decoration: none;
    color:black;
    background-color:springgreen;
    padding:10px;
}
#nav4 a:hover{
    background-color: palegreen;
    color:white;
}
#zikosyoukai{
    margin-top:50px;
    background-color:cadetblue;
    color: aliceblue;
}
#home{
    margin-top:50px;
    background-color:cadetblue;
    color: aliceblue;
}
img{
    width:40%;
    height:20%;
    padding:10px;
    display:flex;
    justify-content:space-between;
    box-sizing:border-box;
}
p{
    padding:10px;
}
h3{
    padding:10px;
}